	<%= form_for([@tournament, @tournament.comments.build]) do |f| %>
	<fieldset>
		<legend>Add a comment:</legend>
		<label>Commenter:</label>
		<%= f.text_field :commenter %>
		<label>Body:</label>

		<%= f.text_area :body, :cols => 500, :rows => 5 %>
	</fieldset>
	  <div class="actions">
	    <%= f.submit %>
	  </div>
 </div>
	<% end %>

