    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to image_tag("magic.png", alt: "Magic:The Gathering") %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to 'Tournaments', tournaments_path %></li>
              <li><%= link_to 'Places', places_path %></li>
              <li><%= link_to "Sign in", '#' %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>